@model List<Web.Models.Wrestler>
@{
    
    ViewBag.Title = "Team Selection";
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            var wrestlerRank = 1;
            var wrestlerIds = [];

            function rerank(rankRemoved) {
                $('.ranked').each(function (index, element) {
                    if (parseInt($(element).text()) > parseInt(rankRemoved))
                        $(element).text(parseInt($(element).text()) - 1);
                });
            }

            $('#submitWrestlers').on('click', function () {
                if (wrestlerIds.length !== 12)
                {
                    alert('Please choose 12 wrestlers.');
                    return;
                }
                $('#wrestlers').val(JSON.stringify(wrestlerIds));
                $('#submit').click();
            });

            $('.rank').on('click', function () {
                if ($(this).hasClass('ranked')) {
                    $(this).text('Rank');
                    $(this).removeClass('ranked');
                    $(this).addClass('rank');
                    for (var i = 0; i < wrestlerIds.length; i++)
                    {
                        if ($(this).attr('attr-id') == wrestlerIds[i]) {
                            wrestlerIds.splice(i, 1);
                            rerank($(this).attr('attr-id'));
                        }
                    }
                    wrestlerRank--;
                } else {
                    if (wrestlerRank >= 13) {
                        alert("You have already picked your max number of wrestlers.");
                        return;
                    }
                    $(this).text(wrestlerRank);
                    $(this).addClass('ranked');
                    wrestlerRank++;
                    wrestlerIds.push($(this).attr('attr-id'));
                }
            });
        });
    </script>
}

<div class="container">
    <h2>WWF No Mercy Team Selection</h2>
    <p>
        Please rank your favorite 12 wrestlers from this list.  You will get your top choice based on your draft pick and your ranking.  Wrestlers stats are created on a scale from 1 - 5 based on their in-game skills in the following categories.  If you have already submitted, your rankings will be overwritten.
    </p>
    <button class="btn btn-primary pull-right" id="submitWrestlers">Submit Rankings</button>
    <table class="table">
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td colspan="5">Offense</td>
                <td colspan="5">Defense</td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Head</td>
                <td>Body</td>
                <td>Arms</td>
                <td>Legs</td>
                <td>Flying</td>
                <td>Head</td>
                <td>Body</td>
                <td>Arms</td>
                <td>Legs</td>
                <td>Flying</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var wrestler in Model)
            {
                <tr>
                    <td class="col-md-10">
                        <h2>@wrestler.Name</h2>
                        <a href="@wrestler.PictureUrl" target="_blank">
                            <img class="img-responsive" src="@wrestler.PictureUrl" alt="...">
                        </a>
                    </td>
                    <td>
                        @wrestler.Description
                    </td>
                    <td>
                        @wrestler.OffenseHead
                    </td>
                    <td>
                        @wrestler.OffenseBody
                    </td>
                    <td>
                        @wrestler.OffenseArms
                    </td>
                    <td>
                        @wrestler.OffenseLegs
                    </td>
                    <td>
                        @wrestler.OffenseFlying
                    </td>
                    <td>
                        @wrestler.DefenseHead
                    </td>
                    <td>
                        @wrestler.DefenseBody
                    </td>
                    <td>
                        @wrestler.DefenseArms
                    </td>
                    <td>
                        @wrestler.DefenseLegs
                    </td>
                    <td>
                        @wrestler.DefenseFlying
                    </td>
                    <td>
                        <button class="btn btn-default rank" attr-id="@wrestler.Id">Rank</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary pull-right" id="submitWrestlers">Submit Rankings</button>
    @using (Html.BeginForm("AddWrestlers", "Home"))
    {
    <input type="hidden" name="wrestlers" id="wrestlers" />
    <input type="submit" id="submit" style="display: none" />
    }
</div>
