@model List<Web.Models.DTOs.NewsItemDto>
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-12">
                <img src="~/Content/Images/haskmarks2.jpg" class="img-rounded img-responsive" alt="field hashmarks">
            </div>
        </div>
        <div class="row">
            <div class="page-header">
                <h2> Between The Hashmarks </h2>
                <p>A forum for elite fantasy footballers to establish a homebase, talk smack and arrange lineups. </p>
            </div>
        </div>
    </div>
    <br>
    <h1>News</h1>
    @foreach (var item in @Model)
    {
        <div class="row">
            <div class="col-md-2">
                <a href="@Url.Action("Details", "News", new {id=item.Id})">
                    <img class="media-object img-responsive" src="@item.HeadlineImgSrc" alt="...">
                </a>
            </div>
            <div class="col-md-10">
                <a href="@Url.Action("Details", "News", new {id=item.Id})">
                    <h4 class="media-heading">@item.Title</h4>
                </a>
                <p>@item.Headline</p><br/>
                @Html.ActionLink("Read More", "Details", "News", new { id = item.Id }, null)
                <span class="pull-right"><i>Posted By @item.CreatedBy - @item.LastUpdated</i></span>
            </div>
        </div><br/>
    }
</div>
