@model List<Web.Models.Wrestler>
@{

    ViewBag.Title = "My Ranking";
}

<div class="container">
    <h2>WWF No Mercy Team Ranking</h2>
    <p>
        This is your ranking.  If you would like to pick again, feel free to do so @Html.ActionLink("here", "ChooseTeam").
    </p>
        @if (Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td colspan="5">Offense</td>
                        <td colspan="5">Defense</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Head</td>
                        <td>Body</td>
                        <td>Arms</td>
                        <td>Legs</td>
                        <td>Flying</td>
                        <td>Head</td>
                        <td>Body</td>
                        <td>Arms</td>
                        <td>Legs</td>
                        <td>Flying</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                @foreach (var wrestler in Model)
                {
                    <tr>
                        <td class="col-md-10">
                            <h2>@wrestler.Name</h2>
                            <a href="@wrestler.PictureUrl" target="_blank">
                                <img class="img-responsive" src="@wrestler.PictureUrl" alt="...">
                            </a>
                        </td>
                        <td>
                            @wrestler.Description
                        </td>
                        <td>
                            @wrestler.OffenseHead
                        </td>
                        <td>
                            @wrestler.OffenseBody
                        </td>
                        <td>
                            @wrestler.OffenseArms
                        </td>
                        <td>
                            @wrestler.OffenseLegs
                        </td>
                        <td>
                            @wrestler.OffenseFlying
                        </td>
                        <td>
                            @wrestler.DefenseHead
                        </td>
                        <td>
                            @wrestler.DefenseBody
                        </td>
                        <td>
                            @wrestler.DefenseArms
                        </td>
                        <td>
                            @wrestler.DefenseLegs
                        </td>
                        <td>
                            @wrestler.DefenseFlying
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            } else
            {
            <p>You have not ranked your wrestlers.  Please do so @Html.ActionLink("here", "ChooseTeam").</p>
            }
</div>
